<div class="{{page.title}} container">
	<div class="mod-6 mod">
		<form class="contact-form" action="" method="POST">
			<input class="required" type="text" name="name" placeholder="Name" />
			<input class="required" type="email" name="email" placeholder="Email" />
			<textarea class="required" name="message" placeholder="Message"></textarea>
			<input type="submit" value="Send" />
		</form>
	</div>
</div>