<div class="{{page.title}} container">

	<div id="code-output" class="chart mod-12 mod">
		<h2 class="title">Output</h2>
	</div>

	<div id="language" class="chart mod-6 mod">
		<h2 class="title">Language</h2>
	</div>
	
	<div id="ide" class="chart mod-6 mod">
		<h2 class="title">Editor</h2>
	</div>

	<div id="git-activity" class="mod-12 mod">
		<h2 class="title">Commit Activity</h2>
	</div>
</div>