<div class="{{page.title}} container">
	<div class="mod mod-9">
		<article class="log-entry">
			{{#each page.entry.Items}}
				<section class="content">	
					{{{bodyContent this}}}
				</section>
			{{/each}}
		</article>
	</div>
</div>