@font-face {
	font-family:"Flama Light";
	src:url("../fonts/Flama-Light.eot");
	src:url("../fonts/Flama-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Flama-Light.woff") format("woff"),
		url("../fonts/Flama-Light.svg") format("svg");
	font-weight:light;
	font-style:normal;
}